{% include 'components/header.html' %}

{#{% block body %}#}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"></h1>
          </div>

          <!-- Content Row -->

          <!-- Basic Card Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Upload Data</h6>
        </div>
        <div class="card-body">
            <form action="proses" method="post" enctype="multipart/form-data">
                Select data.csv to upload:
                <input type="file" name="file" id="file" required>
             <input type="submit" value="Upload Data" name="submit">
            </form>
            {% with messages = messg %}
             {% if messages %}
             {{ messages }}
            {%  endif %}
            {% endwith %}
        </div>
    </div>

          <!-- Content Row -->
          <div class="row">

            <div class="col-lg-6 mb-4">

            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

{#{% endblock %}#}

{% include 'components/footer.html' %}